*{
	margin: 0;
	padding: 0;
	outline: 0;
}
body{
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}
.dark{
	padding: 20px;
	background: #35424A;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 10px;
}
/* global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/* header */
header{
	background: #35424A;
	color: #fff;
	padding-top: 20px;
	min-height: 70px;
	border-bottom: 3px solid #E8491D;
}
header a{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}
header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}
header #branding{
	float: left;
}
header #branding h1{
	margin: 0;
}
header nav{
	float: right;
	margin-top: 10px;
}
header .highlight{
	font-weight: bold;
	color: #E8491D;
}
header a:hover{
	color: #E8491D;
}
/* Showcase */
#showcase{
	min-height: 450px;
	background: url('img/showcase.jpg') no-repeat 0 -400px;
	text-align: center;
	color: #fff;
}
#showcase h1{
	margin-top: 100px;
	font-size: 50px;
	margin-bottom: 10px;
}
#showcase p{
	font-size: 20px;
} 
/* newsletter */
#newsletter{
	background: #35424A;
	padding: 15px;
	color: #fff;
	
}
#newsletter h1{
	float: left;
	margin-top: 15px;
}
#newsletter form{
	float: right;
	margin-top: 7px;
}
#newsletter input[type="email"]{
	padding: 8px;
	margin: 8px;
	width: 190px;
	border: 0;
	border-radius: 2px;
}
#newsletter .button_1{
	height: 34px;
	padding-left: 25px;
	padding-right: 25px;
	background: #E8491D;
	border: 0;
	color: #fff;
	border-radius: 2px;
}

/* boxes */
#boxes{
	padding-top: 20px;
}
#boxes .box{
	float: left;
	padding: 10px;
	width: 30%;
	text-align: center;
}
#boxes .box img{
	width: 90px;
}
/* aside */
aside#sidebar{
	float: right;
	width: 30%;
	margin-top: 10px;
}
/* Main-col */

article#main-col{
	float: left;
	width: 65%;
	margin-top: 20px;
}
/* services */
ul#services li{
	list-style: none;
	padding: 20px;
	border: 1px solid #ccc;
	background: #E6E6E6;
	margin-bottom: 5px;
}
aside#sidebar .Quote input, aside#sidebar .Quote textarea{
	width: 90%;
	padding: 10px;
}
aside#sidebar .button_1{
	background: #E8491D;
	color: #fff;
	width: 25%;
	border: 0;
	border-radius: 3px;
	padding: 10px;
	margin-top: 10px;
}
footer{
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	background: #E8491D;
	color: #fff;
}
footer p{
	font-size: 18px;
}
/* Media Queries */

@media(max-width: 768px){
	 
	header #branding,
	header nav,
	header nav li{
		float: none;
		text-align: center;
		width: 100%;
	}
	header{
		padding-bottom: 20px;
	}
	#showcase h1{
		margin-top: 30px;
	}
}